<ele-note-area [memo]="activedMemo"></ele-note-area>
<div class="list-group">
  <a 
    href="#" 
    *ngFor="let memo of [memos | async][0]; let i = index;" 
    (click)="onToggle(i)"
    class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{memo.title}}</h5>
      <div *ngIf="i === activedIndex">
        <a (click)="onEdit(memo)">Edit</a>
        <a >Delete</a>
      </div>
    </div>
    <p *ngIf="i === activedIndex" class="mb-1">{{memo.content}}</p>
    <small>{{ memo.date | date:'medium' }}</small>
  </a>
</div>